body {
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

#gamesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.game-card img {
  width: 100%;
}